
@mixin button{
  color: $black;
  font-size: 1.4rem;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  text-align: center;
  letter-spacing: .5px;
  text-decoration: none;
  outline: 0;
  border: none;
  border-radius: .2rem;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.button{
  @include button;
  &:focus{
    outline: none;
  }
}

.btn-teal{
  background: $teal;
  color: $white;
  border-radius: 100px;
  font-weight: 500;
  &:hover{
    background: $teal-lighten-1;
    text-decoration: none;
    color: $white;
  }
}

.btn-yellow{
  background: $yellow-darken-1;
  color: $black;
  border-radius: 100px;
  &:hover{
    background: $yellow-lighten-1;
    text-decoration: none;
    color: $black;
  }
}
