$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

$color1: #41606E;
$color2: #2C4653;
$color3: #1f313a;

.color1{ background: $color1;}
.color2{ background: $color2;}
.color3{ background: $color3;}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  font-size: 1.6rem;
}


body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}
