
.update-form, .update-password-form{
  input{
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    color: #ffffffb3;
    padding-right: 10px;

    &:focus{
      border: 0;
      outline: 0;
      border-bottom: 1px solid #00bcd4;
    }
  }

  .error-msg{
    height: 15px;
  }

  .btn{
    font-size: 15px;
  }
}
