

.benefits{
  min-height: 40rem;
  .wrapper{
    padding: 3rem;
    .divider{
      width: 10rem;
      height: 1.5px;
      background: $teal-darken-4;
      margin: auto;
    }
    .title{
      font-size: 2.3rem;
      color: $teal-darken-4;
      margin: 2rem 0;
      text-align: center;
    }

    .items{
      margin-top: 50px;
    }
    .item{
      img{
        max-width: 200px;
        position: relative;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background: transparent;
      }

      .img-tag{
        position: absolute;
        bottom: 3rem;
        span{
          display: block;
          color: $white;
          font-weight: bold;
          font-size: 1.7rem;
          text-align: center;

          &:last-child{
            font-weight: 500;
          }
        }
      }
    }
  }
}
