
.footer-box{
  background: $cyan-darken-3;
  font-family: $font-nunito;
  color: $white;
  padding: 3rem 0;
  padding-bottom: 0;
  .wrapper{
    padding: 0 3rem;

    .item{
      padding: 1rem;
      .f-title{
        font-size: 1.6rem;
        color: $white;
        padding: 1rem 0;
        font-weight: 600;
        letter-spacing: 1px;
      }

      ul{
        list-style-type: none;
        li{
          a{
            color: $grey-lighten-3;
            font-size: 1.4rem;
            font-weight: 600;
            text-decoration: none;
            text-align: justify;

            &:hover{
              border-bottom: 1.5px solid $white;
            }

            .fa{
              font-size: 1.2rem;
              width: 2rem;
            }
          }
          .mail{
            color: $grey-lighten-3;
            font-size: 1.3rem;
          }
        }
      }
    }

    .company-demo{
      .logo{
        font-size: 2.6rem;
        font-weight: 600;
        text-align: center;
        color: $white;
        padding: 1rem 0;
      }
      .title{
        font-size: 1.6rem;
        font-weight: 600;
        color: $white;
      }
      .expo{
        font-size: 1.3rem;
        font-weight: 500;
        color: $grey-lighten-3;
      }
    }
  }
}

.footer{
  padding: .5rem 3rem;
  text-align: center;
  border-top: 1px solid #00606459;
  font-size: 1.3rem;
  background: $cyan-darken-3;
}
